body {
    background-color: #f1f1f1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-transform: uppercase;
    color: #5b00af;
    font-weight: bold;
    text-decoration: none;
    background-color: #bbb;
    padding: 0.2em 0.4em;
}

a:hover {
    color: #370069;
}

h2 {
    text-transform: uppercase;
    color: #370069;
}

